.col-12 {
  margin-right: 20px;
  width: calc((100% - 0 * 20px) / 1);
  float: left;
  background-color: rgba(0, 0, 255, 0.6);
  min-height: 30px;
  margin-bottom: 1.2rem; }
  .col-12:nth-child(1n) {
    margin-right: 0; }

.col-6 {
  margin-right: 20px;
  width: calc((100% - 1 * 20px) / 2);
  float: left;
  background-color: rgba(0, 0, 255, 0.6);
  min-height: 30px;
  margin-bottom: 1.2rem; }
  .col-6:nth-child(2n) {
    margin-right: 0; }

.col-4 {
  margin-right: 20px;
  width: calc((100% - 2 * 20px) / 3);
  float: left;
  background-color: rgba(0, 0, 255, 0.6);
  min-height: 30px;
  margin-bottom: 1.2rem; }
  .col-4:nth-child(3n) {
    margin-right: 0; }

.col-3 {
  margin-right: 20px;
  width: calc((100% - 3 * 20px) / 4);
  float: left;
  background-color: rgba(0, 0, 255, 0.6);
  min-height: 30px;
  margin-bottom: 1.2rem; }
  .col-3:nth-child(4n) {
    margin-right: 0; }

.col-2 {
  margin-right: 20px;
  width: calc((100% - 5 * 20px) / 6);
  float: left;
  background-color: rgba(0, 0, 255, 0.6);
  min-height: 30px;
  margin-bottom: 1.2rem; }
  .col-2:nth-child(6n) {
    margin-right: 0; }

.col-1 {
  margin-right: 20px;
  width: calc((100% - 11 * 20px) / 12);
  float: left;
  background-color: rgba(0, 0, 255, 0.6);
  min-height: 30px;
  margin-bottom: 1.2rem; }
  .col-1:nth-child(12n) {
    margin-right: 0; }

@media only screen and (max-width: 1440px) {
  .xl\:col-12 {
    margin-right: 20px;
    width: calc((100% - 0 * 20px) / 1);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .xl\:col-12:nth-child(1n) {
      margin-right: 0; }
  .xl\:col-6 {
    margin-right: 20px;
    width: calc((100% - 1 * 20px) / 2);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .xl\:col-6:nth-child(2n) {
      margin-right: 0; }
  .xl\:col-4 {
    margin-right: 20px;
    width: calc((100% - 2 * 20px) / 3);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .xl\:col-4:nth-child(3n) {
      margin-right: 0; }
  .xl\:col-3 {
    margin-right: 20px;
    width: calc((100% - 3 * 20px) / 4);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .xl\:col-3:nth-child(4n) {
      margin-right: 0; }
  .xl\:col-2 {
    margin-right: 20px;
    width: calc((100% - 5 * 20px) / 6);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .xl\:col-2:nth-child(6n) {
      margin-right: 0; }
  .xl\:col-1 {
    margin-right: 20px;
    width: calc((100% - 11 * 20px) / 12);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .xl\:col-1:nth-child(12n) {
      margin-right: 0; } }

@media only screen and (max-width: 960px) {
  .lg\:col-12 {
    margin-right: 20px;
    width: calc((100% - 0 * 20px) / 1);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .lg\:col-12:nth-child(1n) {
      margin-right: 0; }
  .lg\:col-6 {
    margin-right: 20px;
    width: calc((100% - 1 * 20px) / 2);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .lg\:col-6:nth-child(2n) {
      margin-right: 0; }
  .lg\:col-4 {
    margin-right: 20px;
    width: calc((100% - 2 * 20px) / 3);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .lg\:col-4:nth-child(3n) {
      margin-right: 0; }
  .lg\:col-3 {
    margin-right: 20px;
    width: calc((100% - 3 * 20px) / 4);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .lg\:col-3:nth-child(4n) {
      margin-right: 0; }
  .lg\:col-2 {
    margin-right: 20px;
    width: calc((100% - 5 * 20px) / 6);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .lg\:col-2:nth-child(6n) {
      margin-right: 0; }
  .lg\:col-1 {
    margin-right: 20px;
    width: calc((100% - 11 * 20px) / 12);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .lg\:col-1:nth-child(12n) {
      margin-right: 0; } }

@media only screen and (max-width: 768px) {
  .md\:col-12 {
    margin-right: 20px;
    width: calc((100% - 0 * 20px) / 1);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .md\:col-12:nth-child(1n) {
      margin-right: 0; }
  .md\:col-6 {
    margin-right: 20px;
    width: calc((100% - 1 * 20px) / 2);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .md\:col-6:nth-child(2n) {
      margin-right: 0; }
  .md\:col-4 {
    margin-right: 20px;
    width: calc((100% - 2 * 20px) / 3);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .md\:col-4:nth-child(3n) {
      margin-right: 0; }
  .md\:col-3 {
    margin-right: 20px;
    width: calc((100% - 3 * 20px) / 4);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .md\:col-3:nth-child(4n) {
      margin-right: 0; }
  .md\:col-2 {
    margin-right: 20px;
    width: calc((100% - 5 * 20px) / 6);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .md\:col-2:nth-child(6n) {
      margin-right: 0; }
  .md\:col-1 {
    margin-right: 20px;
    width: calc((100% - 11 * 20px) / 12);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .md\:col-1:nth-child(12n) {
      margin-right: 0; } }

@media only screen and (max-width: 480px) {
  .sm\:col-12 {
    margin-right: 20px;
    width: calc((100% - 0 * 20px) / 1);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .sm\:col-12:nth-child(1n) {
      margin-right: 0; }
  .sm\:col-6 {
    margin-right: 20px;
    width: calc((100% - 1 * 20px) / 2);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .sm\:col-6:nth-child(2n) {
      margin-right: 0; }
  .sm\:col-4 {
    margin-right: 20px;
    width: calc((100% - 2 * 20px) / 3);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .sm\:col-4:nth-child(3n) {
      margin-right: 0; }
  .sm\:col-3 {
    margin-right: 20px;
    width: calc((100% - 3 * 20px) / 4);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .sm\:col-3:nth-child(4n) {
      margin-right: 0; }
  .sm\:col-2 {
    margin-right: 20px;
    width: calc((100% - 5 * 20px) / 6);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .sm\:col-2:nth-child(6n) {
      margin-right: 0; }
  .sm\:col-1 {
    margin-right: 20px;
    width: calc((100% - 11 * 20px) / 12);
    float: left;
    background-color: rgba(0, 0, 255, 0.6);
    min-height: 30px;
    margin-bottom: 1.2rem; }
    .sm\:col-1:nth-child(12n) {
      margin-right: 0; } }

html {
  font-size: 62.5%; }

.template {
  margin-bottom: 3.3rem; }

.todayReading {
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.base-link:link, .base-link:visited {
  text-decoration: none;
  color: #000; }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 1.2rem, 1.8rem;
  box-shadow: 0 0 0 1px #000; }
