@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0px); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }

@keyframes bounce-shadow {
  0% {
    transform: scale(1, 1); }
  10% {
    transform: scale(1.1, 0.9); }
  30% {
    transform: scale(0.7, 1.2); }
  50% {
    transform: scale(0.95, 1.05); }
  57% {
    transform: scale(0.9, 1); }
  64% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 1); } }

.col-12 {
  margin: 0 10px;
  width: calc((100% - 1 * 20px) / 1);
  float: left; }

.col-6 {
  margin: 0 10px;
  width: calc((100% - 2 * 20px) / 2);
  float: left; }

.col-4 {
  margin: 0 10px;
  width: calc((100% - 3 * 20px) / 3);
  float: left; }

.col-3 {
  margin: 0 10px;
  width: calc((100% - 4 * 20px) / 4);
  float: left; }

.col-2 {
  margin: 0 10px;
  width: calc((100% - 6 * 20px) / 6);
  float: left; }

.col-1 {
  margin: 0 10px;
  width: calc((100% - 12 * 20px) / 12);
  float: left; }

@media only screen and (max-width: 1440px) {
  .xl\:col-12 {
    margin: 0 10px;
    width: calc((100% - 1 * 20px) / 1);
    float: left; }
  .xl\:col-6 {
    margin: 0 10px;
    width: calc((100% - 2 * 20px) / 2);
    float: left; }
  .xl\:col-4 {
    margin: 0 10px;
    width: calc((100% - 3 * 20px) / 3);
    float: left; }
  .xl\:col-3 {
    margin: 0 10px;
    width: calc((100% - 4 * 20px) / 4);
    float: left; }
  .xl\:col-2 {
    margin: 0 10px;
    width: calc((100% - 6 * 20px) / 6);
    float: left; }
  .xl\:col-1 {
    margin: 0 10px;
    width: calc((100% - 12 * 20px) / 12);
    float: left; } }

@media only screen and (max-width: 960px) {
  .lg\:col-12 {
    margin: 0 10px;
    width: calc((100% - 1 * 20px) / 1);
    float: left; }
  .lg\:col-6 {
    margin: 0 10px;
    width: calc((100% - 2 * 20px) / 2);
    float: left; }
  .lg\:col-4 {
    margin: 0 10px;
    width: calc((100% - 3 * 20px) / 3);
    float: left; }
  .lg\:col-3 {
    margin: 0 10px;
    width: calc((100% - 4 * 20px) / 4);
    float: left; }
  .lg\:col-2 {
    margin: 0 10px;
    width: calc((100% - 6 * 20px) / 6);
    float: left; }
  .lg\:col-1 {
    margin: 0 10px;
    width: calc((100% - 12 * 20px) / 12);
    float: left; } }

@media only screen and (max-width: 768px) {
  .md\:col-12 {
    margin: 0 10px;
    width: calc((100% - 1 * 20px) / 1);
    float: left; }
  .md\:col-6 {
    margin: 0 10px;
    width: calc((100% - 2 * 20px) / 2);
    float: left; }
  .md\:col-4 {
    margin: 0 10px;
    width: calc((100% - 3 * 20px) / 3);
    float: left; }
  .md\:col-3 {
    margin: 0 10px;
    width: calc((100% - 4 * 20px) / 4);
    float: left; }
  .md\:col-2 {
    margin: 0 10px;
    width: calc((100% - 6 * 20px) / 6);
    float: left; }
  .md\:col-1 {
    margin: 0 10px;
    width: calc((100% - 12 * 20px) / 12);
    float: left; } }

@media only screen and (max-width: 480px) {
  .sm\:col-12 {
    margin: 0 10px;
    width: calc((100% - 1 * 20px) / 1);
    float: left; }
  .sm\:col-6 {
    margin: 0 10px;
    width: calc((100% - 2 * 20px) / 2);
    float: left; }
  .sm\:col-4 {
    margin: 0 10px;
    width: calc((100% - 3 * 20px) / 3);
    float: left; }
  .sm\:col-3 {
    margin: 0 10px;
    width: calc((100% - 4 * 20px) / 4);
    float: left; }
  .sm\:col-2 {
    margin: 0 10px;
    width: calc((100% - 6 * 20px) / 6);
    float: left; }
  .sm\:col-1 {
    margin: 0 10px;
    width: calc((100% - 12 * 20px) / 12);
    float: left; } }

html {
  font-size: 62.5%; }

.template {
  margin-bottom: 3.3rem; }

.todayReading {
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.base-link:link, .base-link:visited {
  text-decoration: none;
  color: #000; }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 1.2rem, 1.8rem;
  box-shadow: 0 0 0 1px #000; }
