@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0px); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }

@keyframes bounce-shadow {
  0% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  10% {
    transform: scale(1.1, 0.9) rotateX(45deg);
    opacity: 1; }
  30% {
    transform: scale(0.7, 1.2) rotateX(45deg);
    opacity: .6; }
  50% {
    transform: scale(0.95, 1.05) rotateX(45deg);
    opacity: .8; }
  57% {
    transform: scale(0.9, 1) rotateX(45deg);
    opacity: .75; }
  64% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  100% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; } }

@keyframes ring-ball-an-1 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.prc__content__title::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

html {
  font-size: 62.5%; }

.section {
  padding-top: 3.3rem;
  padding-bottom: 3.3rem; }
  .section-form__title-box {
    max-width: 24rem;
    margin: 0 auto;
    margin-bottom: 30px; }
    .section-form__title-box > img {
      width: 100%; }

img {
  vertical-align: middle; }

@media screen and (min-width: 480px) {
  .section-form__title-box {
    max-width: 27rem; } }

@media screen and (min-width: 960px) {
  .section {
    padding-top: 6.9rem;
    padding-bottom: 6.9rem; }
    .section-form__title-box {
      max-width: 36rem; } }

@media screen and (min-width: 1440px) {
  .section-form__title-box {
    max-width: none;
    text-align: center; }
    .section-form__title-box > img {
      width: auto; } }

.mb6 {
  margin-bottom: 6px; }

.mb9 {
  margin-bottom: 9px; }

.mb12 {
  margin-bottom: 12px; }

.mb15 {
  margin-bottom: 15px; }

.mb18 {
  margin-bottom: 18px; }

.mb21 {
  margin-bottom: 21px; }

.mb24 {
  margin-bottom: 24px; }

.mb27 {
  margin-bottom: 27px; }

.mb30 {
  margin-bottom: 30px; }

.mb33 {
  margin-bottom: 36px; }

.mb36 {
  margin-bottom: 39px; }

.mb39 {
  margin-bottom: 42px; }

.mb42 {
  margin-bottom: 45px; }

.mb45 {
  margin-bottom: 48px; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

@media screen and (min-width: 320px) {
  .xs\:t-cn {
    text-align: center; }
  .xs\:t-l {
    text-align: left; }
  .xs\:t-r {
    text-align: right; } }

@media screen and (min-width: 480px) {
  .sm\:t-cn {
    text-align: center; }
  .sm\:t-l {
    text-align: left; }
  .sm\:t-r {
    text-align: right; } }

@media screen and (min-width: 600px) {
  .sm-x\:t-cn {
    text-align: center; }
  .sm-x\:t-l {
    text-align: left; }
  .sm-x\:t-r {
    text-align: right; } }

@media screen and (min-width: 768px) {
  .md\:t-cn {
    text-align: center; }
  .md\:t-l {
    text-align: left; }
  .md\:t-r {
    text-align: right; } }

@media screen and (min-width: 960px) {
  .lg\:t-cn {
    text-align: center; }
  .lg\:t-l {
    text-align: left; }
  .lg\:t-r {
    text-align: right; } }

@media screen and (min-width: 1440px) {
  .xl\:t-cn {
    text-align: center; }
  .xl\:t-l {
    text-align: left; }
  .xl\:t-r {
    text-align: right; } }

@media screen and (min-width: 320px) {
  .xs\:d-b {
    display: block; }
  .xs\:d-in {
    display: inline; }
  .xs\:d-inb {
    display: inline-block; }
  .xs\:d-flex {
    display: flex; }
  .xs\:d-grid {
    display: grid; } }

@media screen and (min-width: 480px) {
  .sm\:d-b {
    display: block; }
  .sm\:d-in {
    display: inline; }
  .sm\:d-inb {
    display: inline-block; }
  .sm\:d-flex {
    display: flex; }
  .sm\:d-grid {
    display: grid; } }

@media screen and (min-width: 600px) {
  .sm-x\:d-b {
    display: block; }
  .sm-x\:d-in {
    display: inline; }
  .sm-x\:d-inb {
    display: inline-block; }
  .sm-x\:d-flex {
    display: flex; }
  .sm-x\:d-grid {
    display: grid; } }

@media screen and (min-width: 768px) {
  .md\:d-b {
    display: block; }
  .md\:d-in {
    display: inline; }
  .md\:d-inb {
    display: inline-block; }
  .md\:d-flex {
    display: flex; }
  .md\:d-grid {
    display: grid; } }

@media screen and (min-width: 960px) {
  .lg\:d-b {
    display: block; }
  .lg\:d-in {
    display: inline; }
  .lg\:d-inb {
    display: inline-block; }
  .lg\:d-flex {
    display: flex; }
  .lg\:d-grid {
    display: grid; } }

@media screen and (min-width: 1440px) {
  .xl\:d-b {
    display: block; }
  .xl\:d-in {
    display: inline; }
  .xl\:d-inb {
    display: inline-block; }
  .xl\:d-flex {
    display: flex; }
  .xl\:d-grid {
    display: grid; } }

.grid-container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto; }
  .grid-container::after {
    content: '';
    display: block;
    clear: both; }

@media screen and (min-width: 480px) {
  .sm\:gc480 {
    max-width: calc(480px + 30px  + 24px); } }

@media screen and (min-width: 768px) {
  .md\:gc600 {
    max-width: calc(600px + 30px  + 24px); }
  .md\:gc768 {
    max-width: calc(768px + 30px  + 24px); } }

@media screen and (min-width: 960px) {
  .lg\:gc768 {
    max-width: calc(768px + 30px  + 24px); }
  .lg\:gc960 {
    max-width: calc(960px + 30px  + 24px); } }

@media screen and (min-width: 1440px) {
  .xl\:gc960 {
    max-width: calc(960px + 30px  + 24px); }
  .xl\:gc1440 {
    max-width: calc(1440px + 30px  + 24px); } }

.col-24 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 1 * 24px) / 1); }

.col-12 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 2 * 24px) / 2); }

.col-8 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 3 * 24px) / 3); }

.col-6 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 4 * 24px) / 4); }

.col-4 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 6 * 24px) / 6); }

.col-3 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 8 * 24px) / 8); }

.col-2 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 12 * 24px) / 12); }

.col-1 {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  width: calc((100% - 24 * 24px) / 24); }

@media screen and (min-width: 480px) {
  .sm\:col-24 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 1 * 24px) / 1); }
  .sm\:col-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 2 * 24px) / 2); }
  .sm\:col-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 3 * 24px) / 3); }
  .sm\:col-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 4 * 24px) / 4); }
  .sm\:col-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 6 * 24px) / 6); }
  .sm\:col-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 8 * 24px) / 8); }
  .sm\:col-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 12 * 24px) / 12); }
  .sm\:col-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 24 * 24px) / 24); } }

@media screen and (min-width: 600px) {
  .sm-x\:col-24 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 1 * 24px) / 1); }
  .sm-x\:col-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 2 * 24px) / 2); }
  .sm-x\:col-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 3 * 24px) / 3); }
  .sm-x\:col-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 4 * 24px) / 4); }
  .sm-x\:col-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 6 * 24px) / 6); }
  .sm-x\:col-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 8 * 24px) / 8); }
  .sm-x\:col-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 12 * 24px) / 12); }
  .sm-x\:col-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 24 * 24px) / 24); } }

@media screen and (min-width: 768px) {
  .md\:col-24 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 1 * 24px) / 1); }
  .md\:col-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 2 * 24px) / 2); }
  .md\:col-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 3 * 24px) / 3); }
  .md\:col-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 4 * 24px) / 4); }
  .md\:col-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 6 * 24px) / 6); }
  .md\:col-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 8 * 24px) / 8); }
  .md\:col-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 12 * 24px) / 12); }
  .md\:col-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 24 * 24px) / 24); } }

@media screen and (min-width: 960px) {
  .lg\:col-24 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 1 * 24px) / 1); }
  .lg\:col-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 2 * 24px) / 2); }
  .lg\:col-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 3 * 24px) / 3); }
  .lg\:col-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 4 * 24px) / 4); }
  .lg\:col-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 6 * 24px) / 6); }
  .lg\:col-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 8 * 24px) / 8); }
  .lg\:col-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 12 * 24px) / 12); }
  .lg\:col-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 24 * 24px) / 24); } }

@media screen and (min-width: 1440px) {
  .xl\:col-24 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 1 * 24px) / 1); }
  .xl\:col-12 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 2 * 24px) / 2); }
  .xl\:col-8 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 3 * 24px) / 3); }
  .xl\:col-6 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 4 * 24px) / 4); }
  .xl\:col-4 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 6 * 24px) / 6); }
  .xl\:col-3 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 8 * 24px) / 8); }
  .xl\:col-2 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 12 * 24px) / 12); }
  .xl\:col-1 {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    width: calc((100% - 24 * 24px) / 24); } }

.prc {
  background-color: rgba(0, 170, 170, 0.3);
  padding: 21px 0; }
  .prc__title {
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 2.1rem;
    padding: 0 12px; }
  .prc__content {
    box-shadow: 0 0 0 1px #000;
    background-color: #fff;
    border-radius: 3px; }
    .prc__content__img-box {
      display: none; }
      .prc__content__img-box > img {
        width: 100%;
        vertical-align: middle; }
    .prc__content-txt {
      margin: 0 21px; }
    .prc__content__title {
      position: relative;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.8rem;
      padding: 9px 0; }
      .prc__content__title::after {
        content: '';
        background: transparent;
        left: -21px;
        right: -21px; }
    .prc__content__article {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.8rem;
      max-height: 0;
      overflow: hidden;
      transition: all .3s; }
      .prc__content__article.open {
        max-height: 65px;
        padding-bottom: 9px; }
  @media screen and (min-width: 600px) {
    .prc {
      padding-bottom: 0; }
      .prc__content {
        margin-bottom: 21px; }
        .prc__content__img-box {
          display: block;
          max-width: 250px;
          margin: 0 auto; }
        .prc__content__article {
          max-height: none;
          padding-bottom: 9px; }
          .prc__content__article.open {
            max-height: none; } }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 1.2rem 1.8rem; }
