
.table {

    &--resume {
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 0 0 1px $color-black;
        @include font(2,.6rem);

        
        display: block;
        overflow: auto;

        tr {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        thead,tbody {
            display: block;
        }

        th , td {
            letter-spacing: .6px;
        }

        tbody {

            tr {
                box-shadow: 0 0 0 1px $color-black;
            }


            td {
                position: relative;
                padding: nth($p,4) 0;
                flex-basis: 50%;
                text-align: center;

                &:first-child {
                    flex-basis: 100%;
                    box-shadow: 0 0 0 1px #000;
                    &::after {
                        content: attr(data-type);
                    }
                }

                &:nth-child(3) {
                    &::before {
                        content: '';
                        position: absolute; left: 0; top: 0; bottom: 0;
                        width: 0;
                        padding: 0 .06rem;
                        background: $color-black;
                    }
                }


                &:nth-child(4) {
                    display: none;
                }
            }
        }

        thead {

            th {
                flex-basis: 50%;
                padding: nth($p,3) 0;
            }

            th:first-child {
                flex-basis: 100%;
                &::after {
                    content: attr(data-type);
                }
            }

            th:last-child {
                display: none;
            }
        }
    }

    @include respond('lg') {

        &--resume {
            max-height: none;
            display: table;

            tr {
                display: table-row;
            }
            thead {
                display: table-header-group;
            }
            tbody {
                display: table-row-group;
            }

            thead {
                th {
                    box-shadow: none;
                    &:first-child {
                        &::after {
                            content: none;
                        }
                    }

                    &:last-child {
                        display: table-cell;
                    }
                }
            }

            tbody {
                td {
                    box-shadow: 0 0 0 .3px $color-black;
                    &:first-child {
                        box-shadow: 0 0 0 .1px $color-black;
                        &::after {
                            content: none;
                        }
                    }

                    &:nth-child(2),&:nth-child(3) {
                        padding-left: 3.6rem;
                        text-align: left;
                    }
                    &:nth-child(3) {
                        &::before {
                            content: none;
                        }
                    }
                    &:nth-child(4) {
                        display: table-cell;
                    }
                }
            }

        }
    }

    @include respond('xl') {
        tbody {
            td {
                &:nth-child(2) {
                    padding-left: 6rem;
                }
            }
        }
    }

}