.advantage {
    position: relative;
    z-index: 0;

    &::after {
        content: '';
        z-index: -1;
        position: absolute; left: 0; right: 0; top: 0; bottom: 0;
        background: url('../../img/bk/advantage-bg-sm.png') no-repeat left center / cover;
        opacity: .3;
    }

    &__title-box {
        max-width: 27rem;
        margin: 0 auto;
        margin-bottom: nth($m,9);

        > img {
            width: 100%;
        }
    }

    &-content {

        // 1920 30%
        padding: 0 6%;
        @include clear;

        &__icon-box {
            float: left;
            max-width: 7.4rem;
            margin-right: nth($m,3);
            
            > img {
                width: 100%;
            }
        }

        &-group {
            margin-bottom: nth($m,12);
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__title,&__descrip {
            overflow: hidden;
        }

        &__title {
            @include font(3,.6rem);
            color: $color-primary;
            margin-bottom: nth($m,1);
            padding: nth($p,4) 0;
            min-height: 48px;
            letter-spacing: .6px;
        }

        &__descrip {
            @include font(2,.75rem);

            // 06/22 可考慮效果 , 點擊 read more 才全部展開
            // white-space: nowrap;
            // text-overflow: ellipsis;
            
            > br {
                display: none;
            }
        }
    }

    @include respond('sm') {
        &::after {
            background-size: contain;
        }

        &-content {
            &__title {
                padding: 0;
                min-height: 0;
            }
        }
    }

    @include respond('md') {
        &::after {
            background: url('../../img/bk/advantage-bg.png') no-repeat left top / cover;
        }

        &__title-box {
            max-width: 33rem;
        }

        &-content {
            padding: 0;
            max-width: 600px;
            margin: 0 auto;

            &__icon-box {
                max-width: 9.6rem;
                margin-right: nth($m,9);
            }

            &__title {
                min-height: 0;
                margin-bottom: 0;
                padding: nth($p,3) 0;
            }
        }
    }

    @include respond('lg') {
        &::after {
            opacity: .9;
        }

        &__title-box {
            max-width: 42rem;
        }
        &-content {
            max-width: 69rem;

            &__icon-box {
                max-width: 12rem;
            }

            &__title {
                padding-top: nth($p,6);
            }
            &__descrip {
                line-height: 1.6;
            }
        }
    }

    @include respond('xl') {
        &::after {
            opacity: 1;
        }

        &__title-box {
            max-width: none;
            text-align: center;
            > img {
                width: auto;
            }
        }

        &-content {
            &-group {
                margin-bottom: 6rem;
            }
            &__icon-box {
                max-width: none;
            }
        }
    }
}