.form {
    @include clear;
    margin-bottom: nth($m,6);
    text-align: center;

    &__title {
        text-align: center;
        @include font(2,0,2);
        margin-bottom: nth($m,3);
    }

    &-wrapper {
        position: relative;
        z-index: 0;
        max-width: 78.4rem;
        padding-top: 2.4rem;
        padding-bottom: 1.8rem;
        margin: 0 auto;
        border-radius: nth($border-radius,1);

        &--health {
            background: $color-white;
        }

        &--resume {
            background: $color-primary-dark;
        }
    }

    &__container, &__label {
        float: left;
        margin-bottom: nth($m,6);
        // min-height: 3rem;
        border-radius: nth($border-radius,1);
        box-shadow: 0 0 0 1px $color-black;
    }

    &__label {
        position: relative;

        > .tag {
            position: absolute; left: 1.2rem ;top: 0; bottom: 0;
            margin: auto;
            @include font(1,0,3);
            line-height: 3.3rem;
        }
    }

    &__input {
        border: none;
        width: 100%;
        padding: nth($p,2) 0;

        &--text {
            padding-left: 4.8rem;
        }

        &--email {
            padding-left: 7.2rem;
        }

        &--school {
            padding-left: 6.6rem;
        }

        &--master {
            padding-left: 7.5rem;
        }

        &--status {
            display: none;

            &:checked ~ .form__lb--StatusRadio {
                & > .radio-box {
                    &::after,&::before {
                        content: '';
                    }
                }
            }

            &:checked ~ .form__lb--select {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
    
    &__select {
        width: 100%;
        padding: nth($p,2) 0;
        border: none;
        background: $color-white;
    }


    &__container {
        box-shadow: none;

        > span {
            display: block;
            margin-bottom: nth($m,3);
            font-weight: 700;
        }

        &-group {
            display: flex;
            align-items: center;
            margin-bottom: nth($m,6);
        }
    }


    &__lb {
        
        &--StatusRadio {
            position: relative;
            text-align: left;
            padding-left: 3.3rem;
            margin-right: 1.2rem;

            > .radio-box {
                position: absolute; top: 0; bottom: 0; margin: auto 0;
                left: 1.2rem;
                width: 1.5rem;
                height: 1.5rem;
                box-shadow: 0 0 0 1px #000;

                

                &::after , &::before {
                    // content: '';
                    position: absolute; top: 0;
                    width: .3rem;
                    background: $color-black;
                }
                
                &::after {
                    height: 1.2rem;
                    right: .3rem;
                    transform: rotate(45deg);
                }
                
                &::before {
                    height: .75rem;
                    top: .5rem;
                    left: .21rem;
                    // transform-origin: left top;
                    transform: rotate(-45deg);
                }

                &.white {
                    box-shadow: 0 0 0 1px $color-white;
                    background: $color-white;

                    &::after,&::before {
                    }
                }


            }
        }
        
        &--select {
            // flex-basis: 64%;
            flex-grow: 1;
            box-shadow: 0 0 0 1px$color-black;
            border-radius: nth($border-radius,1);

            opacity: .3;
            pointer-events: none;
        }
    }

    &-warn {
        position: relative;
        z-index: 0;
        @include font(2,.75rem,3);
        padding: nth($p,2) 0;

        &::after {
            content: '';
            position: absolute; left: 0; right:0 ; top: 0; bottom: 0;
            background: $color-white;
            opacity: .9;
            z-index: -1;
        }
    }
    
    @include respond-up(600px) {
        &-wrapper {
            padding-left: 6rem;
            padding-right: 6rem;
        }

        &__container {
            display: flex;

            > span {
                flex-basis: 12%;
                text-align: left;
                line-height: 3.5rem;
                font-size: nth($font-size,1);

                &.tag--resume {
                    flex-basis: 31%;
                }
                
            }
            &-group {
                flex-basis: 44%;
                &--resume {
                    &:nth-of-type(1) {
                        flex-basis: 24%;
                    }
                }
            }
        }
    }
    
    @include respond('md') {
        padding-left: 7.2rem;
        padding-right: 7.2rem;

        // &-wrapper {
        //     &--health {
        //         background: $color-white;
        //     }

        //     &--resume {
        //         background: $color-primary-dark;
        //     }
        // }

        &-warn {
            margin-left: 7.2rem;
            margin-right: 7.2rem;
            padding-left: .6rem;
        }
    }
    
    @include respond('lg') {
        &-wrapper {
            padding: 0;
            padding-top: 7.8rem;
            padding-bottom: 3.9rem;
            max-width: 78.4rem;

            &--health {
                background: $color-white;
            }

            &--resume {
                background: $color-primary-dark;
            }
        }

        &__input , &__select {
            padding-top: nth($p,4);
            padding-bottom: nth($p,4);
            font-size: nth($font-size,3);
        }
        &__input {
            &--text {
                padding-left: 6rem;
            }
    
            &--email {
                padding-left: 9rem;
            }
    
            &--school {
                padding-left: 8.4rem;
            }
    
            &--master {
                padding-left: 9rem;
            }

        }
        &__label,&__container {
            > .tag {
                font-size: nth($font-size,2);
                line-height: 5.1rem;
            }
        }
    }

    @include respond('xl') {
        &-wrapper {
            padding: 0 9.6rem;
            padding-top: 7.8rem;
            padding-bottom: 3.9rem;
            max-width: 78.4rem;
        }
    }


}