.wrapper {
    min-height: 300px;
    // background: #000;
    box-shadow: 0 0 0 1px #cd0000;
}

.container {
    width: 980px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(blue,.3);
    min-height: 120px;
    @include clear;
}
