.health {
    position: relative;
    z-index: 0;

    &::after {
        content: '';
        position: absolute; left: 0; right: 0; top: 0 ;bottom: 0;
        background: url('../../img/bk/form-health-bg-xs.png') no-repeat center / cover;
        opacity: .9;
        z-index: -1;
    }


    @include respond-up(600px) {
        &::before {
            
            content: '';
            position: absolute; left: 0; right: 0; top: 0 ;bottom: 0;
            background: url('../../img/people/form-health-people.png') no-repeat 84% top / 12rem;
        }
    }

    @include respond('md') {
        background: url('../../img/bk/form-health-bg.png') no-repeat center / cover;
        opacity: 1;
    }

    
    @include respond-up(1200px) {
        &::before {
            background-size: auto;
            background-position: right -6rem bottom;
        }
    }
    
    @include respond('xl') {
        &::before {
            background-position: right bottom;

        }
    }

    @include respond-up(1920px) {
        &::before {
            right: 6rem;
        }
    }
}