.prc {
    background-color: rgba(#00aaaa,.3);
    padding: nth($p,6) 0;

    &__title {
        @include font(4,0,4);
        padding: 0 nth($p,3);
    }

    &__content {
        box-shadow: 0 0 0 1px $color-black;
        background-color: $color-white;
        border-radius: nth($border-radius,1);

        &__img-box {
            display: none;
            > img {
                width: 100%;
                vertical-align: middle;
            }
        }

        &-txt {
            margin: 0 nth($m,6);
        }

        &__title {
            position: relative;
            @include font(3,0);
            padding: nth($p,2) 0;
            &::after {
                content: '';
                @extend %ab-fill;
                background: transparent;
                left: -#{nth($m,6)}; right: -#{nth($m,6)};
            }
        }

        &__article {
            @include font(2,.3rem);
            max-height: 0;
            overflow: hidden;
            transition: all .3s;

            &.open {
                max-height: 65px;
                padding-bottom: nth($p,2);
            }
        }
    }

    @include respond-above(600px) {
        padding-bottom: 0;

        &__content {
            margin-bottom: nth($m,6);

            &__img-box {
                display: block;
                max-width: 250px;
                margin: 0 auto;
            }

            &__article {
                max-height: none;
                padding-bottom: nth($p,2);

                &.open {
                    max-height: none;
                }
            }
        }
    }




    &2 {
        background-color: #333;
        padding-top: 6rem;
        padding-bottom: 6rem;
        &__content {
            background-color: #aaa;
            position: relative;
            z-index: 0;
            min-height: 225px;
            overflow-y: hidden;

            &__img-box {
                background: #aaa;
            }

            &-txt {
                position: absolute;
                left: 0; right: 0; bottom: 0;

                @include font(3,.6rem);

                >.tag {
                    display: inline-block;
                    color: $color-white;
                    background-color: #00aaaa;
                    padding: nth($p,1) nth($p,3);
                }

                > p {
                    padding: 0 nth($p,3);
                    background-color: $color-white;
                }
            }
            
            &__article {
                color: $color-white;

                &__title {
                    @include font(3);
                    letter-spacing: 1.2px;

                    &::after {
                        content: '';
                        display: block;
                        height: 0;
                        padding: .3px 0;
                        background-color: $color-white;
                        margin-top: 6px;
                        margin-bottom: 6px;
                    }
                }

                &__list {
                    li {
                        > a {
                            @include link {
                                color: $color-white;
                                text-decoration: none;
                                @include font(2);
                                letter-spacing: .6px;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}


.header {
    background-color: #003366;

    &-container {
        
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
       

        &-content {
            // align center method 1
            display: flex;
            align-items: center;


            // align center method 2
            // line-height: 72px;

            // align center method 3
            // font-size: 0;
            // height: 72px;
            // text-align: center;
            // &::before {
            //     content: '';
            //     display: inline-block;
            //     width: 0;
            //     height: 100%;
            //     vertical-align: middle;

            // }

            min-height: 72px;
            color: $color-white;
            letter-spacing: .6px;
            margin: 0 nth($m,9);

        }
    }

    &__logo-box {
        position: relative;
        flex-basis: 42px;
        min-height: 45px;
        background: #aaa;
        margin-right: nth($m,9);

        // align center method 2
        // display: inline-block;
        // min-width: 42px;

        // align center method 3
        // display: inline-block;
        // vertical-align: middle;
        // min-width: 42px;

        &::after {
            content: '';
            position: absolute; 
            bottom: 0; top: 0; right: -#{nth($m,5)};
            width: 0;
            padding: 0 .3px;
            background: $color-white;
        }
    }

    &__context {
        display: inline-block;

        &-list {

            // align center method 2    
            // display: inline-block;
            // line-height: 1;
            // width: calc(30% - 45px);

            // align center method 3
            // display: inline-block;
            // vertical-align: middle;



            font-size: 0;
        }
        

        > a {
            @include link {
                position: relative;
                text-decoration: none;
                color: $color-white;
                @include font(2);
                padding: 0 nth($p,3);
            }

            &::after {
                position: absolute; left: 0; right: 0; bottom: -25px;
                background: $color-white;
                height: 0;
                padding: 1.2px 0;
            }

            &.choose::after {
                content: '';
            }
        }
    }

    &__menu {

        flex-grow: 1;
        text-align: right;
        font-size: 0;

        // align center method 2
        // display: inline-block;
        // line-height: 1;
        // width: calc(57% - 100px);


        // align center method 3
        // display: inline-block;
        // vertical-align: middle;

        &-list {
            > li {
                display: inline-block;
                > a {
                    @include link {
                        text-decoration: none;
                        @include font(2);
                        color: $color-white;
                        margin: 0 nth($m,1);
                    }
                }
            }
        }
    }

    // &__nav {
    //     flex-grow: 1;
    //     text-align: right;
    //     > a {
    //         @include link {
    //             text-decoration: none;
    //             @include font(2);
    //             color: $color-white;
    //             margin: 0 nth($m,1);
    //         }
    //     }
    // }
}


// 用背景處理
.banner {
    background-image: url('../../img/hero@1x.png');
    background-repeat: no-repeat;
    background-color: #14233c;
    background-position: right bottom;
    background-size: 636px auto;

    min-height: 660px;
    height: 660px;

    // method 1
    // display: flex;
    // align-items: center;


    // method 2 利用 inline-block 與 vertical-align: ;
    // font-size: 0;
    // &::before {
    //     content: '';
    //     display: inline-block;
    //     width: 0px;
    //     height: 100%;
    //     vertical-align: middle;
    // }

    
    // method 3 line-height
    // line-height: 660px;

    // method 4
    position: relative;


    &-container {
        // method 1
        flex-basis: 1200px;
        margin-left: auto;
        margin-right: auto;

        // method 2
        // display: inline-block;
        // vertical-align: middle;
        // width: 100%;

        // method 3
        // display: inline-block;
        // vertical-align: middle;
        // line-height: 1;
        // width: 100%;

        // method 4
        max-width: 1200px;
        position: absolute;
        left: 0; right: 0;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
    }
    &-txt {
        color: $color-white;

        // method 1
        // padding-left: nth($p,9);
        // padding-right: 636px;


        // method 2 ,method 3
        // 寬度不分離
        // max-width: calc(1200px - 636px - #{nth($p,9)});
        // padding-left: nth($p,9);
        // padding-right: 636px;

        // 寬度分離
        // max-width: 1200px;

        // margin-left: auto;
        // margin-right: auto;

        

        // 寬度分離 再多包一層 margin padding 加在這層上 or 加在每個字項上
        &__content {
            // padding or margin
            // padding-left: nth($p,9);
            // margin-left: nth($m,9);

            // 與右邊背景圖片距離
            // padding-right: 636px;
        }


        // method 4
        // padding or margin
        // padding-left: nth($p,9);
        margin-left: nth($m,9);

        // 與右邊背景圖片距離
        padding-right: 636px;

    }

    &__title {
        @include font(7,0,3);

        // method 2 ,method 3
        // 寬度分離,margin padding 直接加在每個子項的方式 or 多包一層
        // padding-left: nth($p,9);


        + p {
            @include font(3,.75rem,1);

            // method 2 , method 3
            // 寬度分離,margin padding直接加在每個子項的方式
            // padding-left: nth($p,9);
            // padding-right: 636px;
        }
    }
}


.banner2 {
    background-image: url('../../img/img_hero.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;

    position: relative;

    // position-absolute 系列可以用 , 代表 method 3 不能用 , mehotd 3 需要上下行距
    padding-top: 35%;

    // method 1 ,method 2 , method 3 , method4 可用
    // padding-top: calc(35% / 2);
    // padding-bottom: calc(35% / 2);
    overflow: hidden;
    

    // method 4 , 只有method 4 才需要 txt 與 txt-contnet 這兩層
    &-txt {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        @include align-inb-v;
            

        &__content {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }
    }

    &__title {
    
        font-size: 100px;
        font-weight: 900;

        // 這部分就不做寬度分離了 , 寬度分離就是在多包一層就是了
        // method 1
        // position: absolute;
        // left: 0; right: 0; top:50%;
        // max-width: calc(1200px - #{nth($p,9)});
        // padding-left: nth($p,9);
        // margin: 0 auto;

        // transform: translateY(-50%);


        // method 2
        // position: absolute;
        // left: 0; right: 0; top: 0; bottom: 0;
        // max-width: calc(1200px - #{nth($p,9)});
        // padding-left: nth($p,9);
        // margin: 0 auto;

        // display: flex;
        // align-items: center;
        

        // method 3 , 限制在單行 , 多行不能這麼做
        // line-height: 0;
        // max-width: calc(1200px - #{nth($p,9)});
        // padding-left: nth($p,9);
        // margin: 0 auto;

        // method 4
        // max-width: calc(1200px - #{nth($p,9)});
        // padding-left: nth($p,9);
        // margin: 0 auto;
    }
}