.resume {
    position: relative;
    z-index: 0;
    overflow: hidden;
    

    &::before,&::after {
        content: '';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        z-index: -1;
    }

    &::before {
        background: radial-gradient(circle at left top , $color-primary-sub-light 0% , $color-primary-sub-light 18% ,transparent 18%),
                    radial-gradient(circle at right top , $color-primary-sub-light 0% , $color-primary-sub-light 12% ,transparent 12%),
                    radial-gradient(circle at left center , $color-primary-sub-light 0% , $color-primary-sub-light 9% ,transparent 9%),
                    radial-gradient(circle at 15% bottom , $color-primary-sub-light 0% , $color-primary-sub-light 6% ,transparent 6%),
                    radial-gradient(circle at right bottom , $color-primary-sub-light 0% , $color-primary-sub-light 3% ,transparent 3%)
                    $color-primary-sub;
        opacity: 1;
    }

    &::after {
        background: linear-gradient(to right , $color-primary-sub-light, $color-primary-sub-light 5%,
                                               transparent 5% , transparent 10%,
                                               $color-primary-sub-light 10%, $color-primary-sub-light 15%,
                                               transparent 15% , transparent 20%,
                                               $color-primary-sub-light 20%, $color-primary-sub-light 25%,
                                               transparent 25% , transparent 30%,
                                               $color-primary-sub-light 30%, $color-primary-sub-light 35%,
                                               transparent 35% , transparent 40%,
                                               $color-primary-sub-light 40%, $color-primary-sub-light 45%,
                                               transparent 45% , transparent 50%,
                                               $color-primary-sub-light 50%, $color-primary-sub-light 55%,
                                               transparent 55% , transparent 60%,
                                               $color-primary-sub-light 60%, $color-primary-sub-light 65%,
                                               transparent 65% , transparent 70%,
                                               $color-primary-sub-light 70%, $color-primary-sub-light 75%,
                                               transparent 75% , transparent 80%,
                                               $color-primary-sub-light 80% , $color-primary-sub-light 85%,
                                               transparent 85%, transparent 90%,
                                               $color-primary-sub-light 90% , $color-primary-sub-light 95%,
                                               transparent 95%) no-repeat right top / 120% 30%,
                    linear-gradient(to right , $color-primary-sub-light, $color-primary-sub-light 5%,
                                               transparent 5% , transparent 10%,
                                               $color-primary-sub-light 10%, $color-primary-sub-light 15%,
                                               transparent 15% , transparent 20%,
                                               $color-primary-sub-light 20%, $color-primary-sub-light 25%,
                                               transparent 25% , transparent 30%,
                                               $color-primary-sub-light 30%, $color-primary-sub-light 35%,
                                               transparent 35% , transparent 40%,
                                               $color-primary-sub-light 40%, $color-primary-sub-light 45%,
                                               transparent 45% , transparent 50%,
                                               $color-primary-sub-light 50%, $color-primary-sub-light 55%,
                                               transparent 55% , transparent 60%,
                                               $color-primary-sub-light 60%, $color-primary-sub-light 65%,
                                               transparent 65% , transparent 70%,
                                               $color-primary-sub-light 70%, $color-primary-sub-light 75%,
                                               transparent 75% , transparent 80%,
                                               $color-primary-sub-light 80% , $color-primary-sub-light 85%,
                                               transparent 85%, transparent 90%,
                                               $color-primary-sub-light 90% , $color-primary-sub-light 95%,
                                               transparent 95%) no-repeat left bottom / 100% 30%;
        transform: rotate(45deg);
    }


    &__title-box {
        max-width: 24rem;
        margin: 0 auto;
        margin-bottom: nth($m,5);

        > img {
            width: 100%;
        }
    }
    
    &-content {
        // pc 27%
        // padding: 0 6%;
        max-width: 30rem;
        margin: 0 auto;

        &-group {
            // @include clear;
        }
    }

    &__ill-list {
        margin-bottom: nth($m,9);
    }

    &__ill {
        @include clear;

        &__icon-box {
            float: left;
            max-width: 125px;
            margin-right: nth($m,3);

            > img {
                width: 100%;
            }
        }

        &__content {
            position: relative;
            @include font(3,.6rem);
            overflow: hidden;
            padding: 4.5rem 0;
            padding-left: 2.4rem;

            // icon 
            &::before {
                content: '';
                position: absolute; left: 0; top: 4.8rem;
                width: 1.8rem;
                height: 1.8rem;
                background: url("../../img/icon/icon-praise.png") no-repeat center / cover;
            }
        }

        &:nth-child(even) {

            & > .resume__ill__icon-box {
                float: right;
                margin: 0;
                margin-left: nth($m,3);
            }

            & > .resume__ill__content {
            }
        }
    }

    &__location {
        
        &-box {
            max-width: 27rem;
            margin: 0 auto;
            margin-bottom: nth($m,3);

            > img {
                width: 100%;
            }
        }
    }
    
    &__stroke {

        &-box {
            max-width: 30rem;
            margin: nth($m,6) auto;

            > img {
                width: 100%;
            }
        }
    }

    @include respond('sm') {
        background: url("../../img/bk/stroke-bg.png") no-repeat center / cover;

        &::after,&::before {
            content: none;
        }

        &__title-box {
            max-width: 33rem;
        }

        &-content {
            max-width: 39rem;
        }

        &__ill {
            &__content {
                padding-left: 0;
                &::before {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: nth($m,1);
                }
            }
            &:nth-child(even) {
                & > .resume__ill__content {
                    text-align: right;
                }
            }
        }

        &__location-box {
            max-width: 39rem;
        }

        &__stroke {

            &-box {
                max-width: 42rem;
            }
        }
    }

    @include respond-up(600px) {


        &__title-box {
            max-width: 36rem;
        }

        &-content {
            max-width: 48rem;
        }

        &__ill {
            margin-left: 15%;

            &:nth-child(even) {
                & > .resume__ill__icon-box {
                    float: left;
                    margin: 0;
                    margin-right: nth($m,3);
                }
                & > .resume__ill__content {
                    padding-left: 0;
                    text-align: left;
                }
            }
        }
    }

    @include respond('md') {

        &__title-box {
            max-width: 42rem;
        }

        &-content {
            max-width: 66rem;
        }


        &__ill-list {
            @include clear;
        }
        &__ill {
            float: left;
            margin-left: 0;
            @include grid-sys(3,1rem);
            text-align: center;

            &__icon-box {
                display: inline-block;
                min-height: 13.5rem;
                float: none; 
                margin: 0;
                margin-bottom: nth($m,3);
                
            }

            &__content {
                padding: 0;
            }

            &:nth-child(even) {
                & > .resume__ill__icon-box {
                    float: none;
                    margin: 0;
                    min-height: 13.5rem;
                    margin-bottom: nth($m,3);
                }

                & > .resume__ill__content {
                    text-align: center;
                }
            }
        }

        &-content-group {
            @include clear;
            padding: 0 6%;
        }

        &__location-box {
            margin-bottom: 0;
            float: left;
        }


        &__stroke {

            &-box {
                max-width: 45rem;
            }
        }

    }

    @include respond('lg') {
        
        &-content {
            max-width: 76.8rem;

            &-group {
                padding: 0 9%;
            }
        }

        &__ill {
            &__icon-box {
                max-width: 15rem;
                min-height: 16.1rem;
            }
        }

        &:nth-child(even) {
            & > .resume__ill__icon-box {
                max-width: 15rem;
                min-height: 16rem;
            }
        }

    

        &__stroke {

            &-box {
                max-width: 51rem;
            }
        }

    }

    @include respond('xl') {
        &-content {
            max-width: 90rem;

            &-group {
                padding: 0;
            }
        }

        &__ill {
            &__icon-box {
                max-width: none;
                min-height: 26rem;
                > img {
                    width: auto;
                }
            }

            &__content {
                @include font(4);
            }

            &:nth-child(even) {
                & > .resume__ill__icon-box {
                    max-width: none;
                    min-height: 26rem;
                }
            }
        }

        &__location-box {
            max-width: 60rem;
        }

        &__stroke {

            &-box {
                max-width: 72rem;
            }
        }
    }
}

