.ring {
    position: relative;
    z-index: 0;
    box-shadow: inset 1px -1px 0 .15rem #00cdcd,
                inset 0 -1px 0 .3rem #cd00cd,
                0 0 0 .2rem #fff,
                0 0 0 .3rem #0000cd,
                0 0 0 .5rem #fff,
                0 0 0 .6rem #cd0000,
                0 0 0 .8rem #fff,
                0 0 0 .9rem #00cd00;


    &::after {
        content: '';
        position: absolute; left: -.03rem; right: -.03rem; top: -.03rem; bottom: -.03rem;
        // border-radius: 50%;
        background: radial-gradient(circle at center ,#cd0000 , #cd0000 .45rem , transparent .45rem) no-repeat left top / .9rem .9rem,
                    radial-gradient(circle at center , #cd0000 , #cd0000 .6rem , transparent .6rem) no-repeat right bottom / 1.2rem 1.2rem;
                    // #000;
        transform: rotate(30deg);
    }
}