.u-margin-b {
    &-ss {
        margin-bottom: 1.2rem;
    }
    &-s {
        margin-bottom: 1.8rem;
    }
    &-m {
        margin-bottom: 2.4rem;
    }
    &-b {
        margin-bottom: 3.6rem;
    }
}


.t-cn {

    &-cn {
        text-align: center;
    }

    &-l {
        text-align: left;
    }
    
    &-r {
        text-align: right;
    }
}
