// margin bottom
@for $var from 0 through length($m) - 1 {
    .mb#{6 + 3 * $var} {
        margin-bottom: nth($m,$var + 1);
    }
}

// text-align
.t {

    &-cn {
        text-align: center;
    }

    &-l {
        text-align: left;
    }
    
    &-r {
        text-align: right;
    }
}


@each $key,$value in $breakpoints {
    @include respond($key) {
        .#{$key}\:t {
            &-cn {text-align: center;}
            &-l {text-align: left;}
            &-r {text-align: right;}
        }
    }
}


// display
@each $key , $value in $breakpoints {
    @include respond($key) {
        .#{$key}\:d {
            &-b { display: block; }

            &-in { display: inline; }

            &-inb { display: inline-block; }

            &-flex { display: flex; }

            &-grid { display: grid }
        }
    }
}