// bounce
$bounce: (
    transform: (
        height: -60px,
        bounce: -7px
    )
);

@keyframes bounce {
    0% {
        transform: scale(1,1) translateY(0);
    }
    10% {
        transform: scale(1.1,.9) translateY(0);
    }
    30% {
        transform: scale(.9,1.1) translateY(map-get(map-get($bounce , transform) , height));
    }
    50% {
        transform: scale(1.05,.95) translateY(0px);
    }
    57% {
        transform: scale(1,1) translateY(map-get(map-get($bounce , transform) , bounce)); // 彈到地面反彈
    }
    64% {
        transform: scale(1,1) translateY(0px);
    }
    100% {
        transform: scale(1,1) translateY(0px);
    }
}

@keyframes bounce-shadow {
    0% {
        transform: scale(1,1) 
    }
    10% {
        transform: scale(1.1,.9) 
    }
    30% {
        transform: scale(.7,1.2);
    }
    50% {
        transform: scale(.95,1.05) 
    }
    57% {
        transform: scale(.9,1); // 彈到地面反彈
    }
    64% {
        transform: scale(1,1) 
    }
    100% {
        transform: scale(1,1) 
    }
}