// RwD
@mixin respond-down($width) {
    @media only screen and (max-width: $width) { @content }
};
@mixin respond-up($width) {
    @media only screen and (min-width: $width) {@content}
};


@mixin respond($breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)){@content}
};


// clear both
@mixin clear {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
};


// :link , :visited
@mixin link {
    &:link,
    &:visited {
        @content
    }
};

// about position
@mixin ab-fill-ct {
    position: absolute; 
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
};

@mixin ab-fill($grow: 0) {
    position: absolute;
    left: 0 + $grow;
    right: 0 + $grow;
    top: 0 + $grow;
    bottom: 0 + $grow;
}

@mixin position-all($grow) {
    left: $grow;
    right: $grow;
    top: $grow;
    bottom: $grow;
}

// btn
@mixin btn-base($shadow-border:true,$b-radius-level:0,$f-size-level:2,$p-tb:1.2rem,$p-rl:1.8rem) {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-size: nth($font-size,$f-size-level);
        padding: $p-tb $p-rl;
        @if $shadow-border {box-shadow: 0 0 0 1px #000;}
        @if $b-radius-level > 0 {border-radius: nth($border-radius , $b-radius-level);}
    }
};

// font-size and line-height
@mixin  font($f-size-level:2,$lh:0,$f-weight-level:1) {
    font-size: nth($font-size , $f-size-level);
    font-weight: nth($font-weight,$f-weight-level);
    line-height: nth($font-size , $f-size-level) + $lh;
}

// $gutter 帶任何單位都可以 px , rem , em , % etc....
// 一個 container 裡面一次只能使用一種 mode （不能混用）
// 但因為 { between（兩端貼邊） , even（間距相同） } 這兩種模式都需要準確的選頭或是尾來增減間距
// 所以限制較大 , 這兩種 mode 除了一個 container 裡面只能塞一種 mode 外 , 也只能夠使用一種欄位數量（比如說-col-1,就只能用col-1)
// around 則可以使用不同種欄位數量 , 缺點是無法靠邊對齊（grid-system 產生的css , 如 col-1 , 用的是 around
// 結構為：
// wrapper - 設置寬度 , around mode 額外再加 $gutter , 才能夠內容（colmuns)正確寬度
//  container
//   columns
@mixin grid-sys($col-nm,$col-gutter:20px,$mode:between) {
    @if $mode == between {
        margin-right: $col-gutter;
        width: calc((100% - #{($col-nm - 1)} * #{$col-gutter}) / #{$col-nm});
        &:nth-child(#{$col-nm}n) { margin-right: 0;}
    };
    @if $mode == around {
        margin: 0 $col-gutter / 2;
        width: calc((100% - #{$col-nm} * #{$col-gutter}) / #{$col-nm});
    }
    @if $mode == even {
        margin-right: $col-gutter;
        width: calc((100% - #{($col-nm + 1)} * #{$col-gutter}) / #{$col-nm});
        &:nth-child(#{$col-nm}n + 1) { margin-left: $col-gutter;}
    };
}

// bk

@mixin zebra-line($config) {
    background: linear-gradient(90deg,map-get($config,bk-color-primary),map-get($config,bk-color-primary) 50%,map-get($config,bk-color-sub) 50%);
    background-size: 100% / map-get($config,columns);
}

@mixin zebra($mode,$config:$zebra-config) {
    @if get-mode($zebra-mode,$mode) == line {
        @include zebra-line(map-get($config,line));
    }
}

.zebra-line {
    @include zebra(0);
}

// under line 
@mixin under-line($move:0,$h:.12rem,$position:relative,$color:#000) {
    position: $position;

    &::before {
        content: '';
        position: absolute; bottom: -$move; left: 0; right: 0;
        height: 0;
        padding: $h / 2 0;
        background: $color;
    }
}


// menu
@mixin menu-hum($h:.3rem) {
    height: $h;
    border-top: $h;
    border-bottom: $h;
    border-style: solid;
    padding-top: .3rem;
    padding-bottom: .3rem;
    background: #000;
    background-clip: content-box;
}

@mixin menu($mode) {
    @if get-mode($menu-mode,$mode) == hum {
        @include menu-hum();
    }
}

// .menu {
//     @include menu(0);
//     width: 3rem;
// }



// animation

// bounce
@mixin bounce {
    @extend %bounce;
}

// ring
@mixin ring($custom:false,$config:$ring-config) {
    background: map-get(map-get($config,bk),bk-normal);
    &::before {
        content: '';
        @extend %ab-fill;
        box-shadow: ring-render($config);
        border-radius: 50%;
    }

    &__ball-1 {
        @include ab-fill(.1rem);

        &::before,&::after {
            content: '';
            @extend %ab-fill;
        }

        &::before {
            background: ring-ball-render(  map-get(map-get($config,ball),ball-1), small  );
            transform: rotate(map-get(map-get(map-get($config,ball),ball-1),small-rotate));
            // transform: rotate(12deg);
        }

        &::after {
            background: ring-ball-render( map-get(map-get($config,ball),ball-1), big );
            transform: rotate(map-get(map-get(map-get($config,ball),ball-1),big-rotate));
        }

    }

    &__ball-2 {
        @include ab-fill(-.3rem);
        z-index: -1;

        &::before,&::after {
            content: '';
            @extend %ab-fill;
        }

        &::before {
            background: ring-ball-render( map-get(map-get($config,ball),ball-2), small );
        }

        &::after {
            @include ab-fill(-.21rem);
            background: ring-ball-render( map-get(map-get($config,ball),ball-2), big );
        }

    }

    @if $custom == false {
        position: relative;
        width: map-get(map-get($config,size),sm);
        height: map-get(map-get($config,size),sm);
        border-radius: 50%;

        @include respond('sm') {
            width: map-get(map-get($config,size),sm);
            height: map-get(map-get($config,size),sm);
        }
        @include respond('md') {
            width: map-get(map-get($config,size),md);
            height: map-get(map-get($config,size),md);
        }

        @include respond('lg') {
            &__ball-1 {
                @include position-all(.3rem);
            }

            &__ball-2 {
                @include position-all(0);
            }
        }

        @include respond('xl') {
            width: map-get(map-get($config,size),xl);
            height: map-get(map-get($config,size),xl);

            &__ball-1 {
                @include position-all(.6rem);
                
                &::before {
                    background: ring-ball-render(map-get($xl-ring-ball-config,ball-1),small);
                }

                &::after {
                    background: ring-ball-render(map-get($xl-ring-ball-config,ball-1),big);
                }
                
            }
    
            &__ball-2 {
                @include position-all(.3rem);
                
                &::before {
                    background: ring-ball-render(map-get($xl-ring-ball-config,ball-2),small);
                }
                &::after{
                    background: ring-ball-render(map-get($xl-ring-ball-config,ball-2),big);
                }
        
            }
        }
    }
}

// ring-animation
@mixin ring-ball-an($mode) {
    @extend %ring-ball-an-#{$mode};
}

// btn-ani
@mixin btn-flyin($type) {
    @if $type == 0 {
        overflow: hidden;

        &::after {
            content: '';
            @include ab-fill();
            left: -3rem; right: -3rem;
            z-index: -1;
            background: map-get(map-get($btn-ani-config,flyin),bk-color);
            transform: translateX(-100%) skewX(-15deg);
            transition: transform .3s ease-in-out;
        }   
        
        &:hover {
            color: map-get(map-get($btn-ani-config,flyin),color);
        }
       
        &:hover::after {
            transform: translateX(0) skewX(-15deg);
        }
    }
}

@mixin btn-ani($mode,$ani-type:0) {
    @if get-mode($btn-ani,$mode) == flyin {
        @include btn-flyin($ani-type);
    }
}