// base
$breakpoints: (
    'xs' : 320px,
    'md' : 768px,
    'sm' : 480px,
    'lg' : 960px,
    'xl' : 1440px
);

// grid-sys
$columns: 12;
$gutter: 2.4rem;

$font-size: 1.2rem 1.5rem 1.8rem 2.1rem 2.4rem 2.7rem 3rem 3.6rem 3.9rem;
$font-weight: 400 500 700 900;

$m: .6rem .9rem 1.2rem 1.5rem 1.8rem 2.1rem 2.4rem 2.7rem 3rem 3.6rem 3.9rem 4.2rem 4.5rem 4.8rem;
$p: .6rem .9rem 1.2rem 1.5rem 1.8rem 2.1rem 2.4rem 2.7rem 3rem 3.6rem 3.9rem 4.2rem 4.5rem 4.8rem;

$border-radius: 3px 6px 9px 12px;
$border-radius-circle: 50%;

$color-black: #000;
$color-white: #fff;


// menu modle
$menu-mode: hum;


// sfsh
$color-primary: #d6251f;
$color-primary-dark: #97120e;
$color-primary-light: #fa0e06;
$color-primary-sub: #f5d932;
$color-primary-sub-light: #faeb99;

$color-text: #020101;
$color-text-sub: #fffc00;

$color-tb-import: #cb0700;
$color-tb-bk-light: #f5f5f5;
$color-tb-bk-dark: #e0e0e0;
$color-tb-border: #626262;



// background - zebra
$zebra-mode: line triangle;
$zebra-config: (
    line: (
        bk-color-primary: $color-black,
        bk-color-sub: transparent,
        columns: 2
    ),
    triangle: (
        size: 15px 15px,
        bk-color-primary: $color-black,
        bk-color-sub: $color-white
    )
);

// animation

// btn-ani
$btn-ani: flyin;

$btn-ani-config: (
    flyin: (
        bk-color: $color-black,
        color: $color-white
    )
);

// ring
$ring-config: (
    size: (
        xs : 6rem,
        sm : 7.5rem,
        md : 9rem,
        xl : 12rem
    ),
    
    bk : (
        bk-normal : #d6251f,
        bk-dark : #97120e,
        bk-light: #fa0e06
    ),

    ring : (
        size : .2rem, // 環的粗度
        color : #97120e,
        count : 3,    // 環的數量
        start: .15rem // 緊密程度
    ),
    
    ball : (
        ball-1 :(
            color: #fa0e06,
            small-size: 1rem,
            big-size: 1.2rem,
            small-position: left top,
            big-position: right bottom,
            small-rotate: 12deg,
            big-rotate: -15deg
        ),

        ball-2 : (
            color: #97120e,
            small-size: 1.4rem,
            big-size: 2rem,
            small-position: left top,
            big-position: right bottom
        )
    ),
);

$xl-ring-ball-config: (
    ball-1 :(
        color: #fa0e06,
        small-size: 1.2rem,
        big-size: 1.5rem,
        small-position: left top,
        big-position: right bottom
    ),
        
    ball-2 : (
        color: #97120e,
        small-size: 1.8rem,
        big-size: 2.4rem,
        small-position: left top,
        big-position: right bottom
    )
);
