// base
$breakpoints: (
    'xl' : 1440px,
    'lg' : 960px,
    'md' : 768px,
    'sm' : 480px
);

// grid-sys
$columns: 12;
$gutter: 20px;

$font-size: 1.2rem 1.5rem 1.8rem 2.1rem 2.4rem 2.7rem 3rem 3.6rem 3.9rem;
$font-weight: 400 500 700 900;

$m: .6rem .9rem 1.2rem 1.5rem 1.8rem 2.1rem 2.4rem 2.7rem 3rem 3.6rem 3.9rem 4.2rem 4.5rem 4.8rem;
$p: .6rem .9rem 1.2rem 1.5rem 1.8rem 2.1rem 2.4rem 2.7rem 3rem 3.6rem 3.9rem 4.2rem 4.5rem 4.8rem;

$border-radius: 3px 6px 9px 12px;
$border-radius-circle: 50%;

$color-balck: #000;
$color-white: #fff;